@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1F2937;
    font-family: Rubik;
    position: fixed;
    width: 100vw;
}

a {
    text-decoration: none;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    background-color: #433D9B;
    color: #E9C46A;
    font-family: Bebas Neue, sans-serif;
    box-shadow: 0px 3px rgba(0,0,0,0.8);
}

.titulo {
    padding-top: 4px;
}

h1 {
    font-size: 40px;
}

.lado-direito-block {
    display: flex;
    flex-direction: row;
    padding: 6px;
    gap: 5px;
    background-color: #F8EFFB;
    border-radius: 4px;
}

.p-logout {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 600;
    color: #17153B;
}

.logout-svg {
    width: 12px;
}

h1 {
    text-shadow: -3px 3px rgba(0,0,0,0.8);
}

.content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 90dvh;
    align-items: center;
}

.edit-button {
    display: flex;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: auto;
    aspect-ratio:  1 / 1;
    background-color: #F8EFFB;
    padding: 10px;
    border-radius: 50px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.close-button {
    font-size: 18px;
}

.formulario {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 40px;
}

.update-label {
    color: white;
    font-family: Bebas Neue;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}

.erro {
    color: #E9C46A;
}

.input-div {
    position: relative;
    margin-bottom: 10px;
}

.inputs {
    background-color: #F8EFFB;
    width: 150px;
    padding: 10px 10px 8px 70px;
    border-radius: 6px;
    font-size: 1rem;
}

.input_label {
    position: absolute;
    left: 5px;
    top: 4px;
    color:  #85738D;
    padding: 10px;
    font-size: 0.75rem;
}

.submit-button {
    padding: 5px 50px 5px 50px;
    background-color: #C8ACD6;
    font-family: 'Bebas Neue';
    font-size: 20px;
    font-weight: 800;
    color: #17153B;
    border-radius: 6px;
}

.remember-div, .submit-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    margin-bottom: 20px;
}

.corda {
    display: flex;
    height: 22vh;
    align-items: start;
    justify-content: center;
}

.corda-svg {
    width: 300px;
}

.atual-parent {
    position: relative;
    margin-bottom: 10px;
}

.atual {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 15px 20px 15px 20px;
    border: 1px solid white;
    border-radius: 8px;
    gap: 20px;
    width: 80vw;
    min-width: 300px;
    max-width: 550px;
}

.palavra {
    color: #E9C46A;
    font-family: Bebas Neue, sans-serif;
    text-shadow: -3px 3px rgba(0,0,0,0.8);
    font-size: 30px;
}

.atual-title {
    position: absolute;
    color:white;
    font-family: Bebas Neue;
    background: #1F2937;
    left: 50%;
    top: -8px;
    transform: translate(-50%, 0%);
    padding-left: 10px;
    padding-right: 10px;
}


.atual-topo {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #433D9B;
    border-radius: 8px;
    box-shadow: 0px 3px rgba(0,0,0,0.8);
}

.atual-bottom {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.placar {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #17153B;
    background-color: #C8ACD6;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    font-size: 25px;
}

.placar-label {
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    top: 3px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.linha {
    height: 50px;
    border-right: 1px solid white;
}

.placar-text {
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%,50%);
}

.lista-palavras {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 15px 20px;
    /* border: 1px solid white; */
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    min-width: 300px;
    max-height: 100%;
    overflow: auto;
}

table {
    color: white;
    text-align: center;
    font-weight: 200;
}

th {
    padding-bottom: 10px;
}

tr:nth-child(even) {background-color: #323a55;}

table td:nth-child(1){
    text-align: start;
}

td {
    padding: 2px;
}

.linha-horizontal {
    border-bottom: 1px solid white;
    width: auto;
}

footer {
    color: white;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
}