<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="topo">
        <div class="titulo">
            <h1>ENFORCADO</h1>
        </div>
        <div class="lado-direito">
            {% block lado_direito %}
            {% endblock %}
        </div>
    </div>
    <div class="content">
        {%block content%}
        {% endblock %}
    </div>
</body>
</html>