{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block content %}
    <a href="{{url_for('update')}}">
        <div class="edit-button">
            <p>+</p>
        </div>
    </a>
    <div class="atual-parent">
        <p class="atual-title">PALAVRA DO DIA</p>
        <div class="atual">
            <div class="atual-topo">
                <p class="palavra">{{current_word.palavra | capitalize}}</p>
                <p class="palavra">({{current_word.dica | capitalize}})</p>
            </div>
            <div class="atual-bottom">
                <div class="placar">
                    <p class="placar-label">TOTAL</p>
                    <p class="placar-text">{{current_word.acertos + current_word.erros}}</p>
                </div>
                <div class="linha"></div>
                <div class="placar">
                    <p class="placar-label">ACERTOS</p>
                    <p class="placar-text">{{current_word.acertos}}</p>
                </div>
                <div class="placar">
                    <p class="placar-label">ERROS</p>
                    <p class="placar-text">{{current_word.erros}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lista-palavras">
        <table>
            <tr>
                <th>Palavra</th>
                <th>Total</th>
                <th>Acertos</th>
                <th>Erros</th>
            </tr>
            {% for palavra in list_words %}
            <tr>
                <td class="td-palavra">{{palavra[1] | capitalize}} ({{palavra[2]}})</td>
                <td>{{palavra[3] + palavra[4]}}</td>
                <td>{{palavra[3]}}</td>
                <td>{{palavra[4]}}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}