@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}


html {
    margin: 0;
    heigth: 100vh;
    width: 100vw;
}

body {
    @apply bg-gray-800;
    @apply text-slate-100;
    font-family: Rubik;

    /* THIS CHANGE EVERYTHING */
    position: fixed;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100vw;

}

        @media only screen and (max-width: 768px) {
            [class*="container"] {
                width: 100vw;
                height: 100vh;
            }
        }

p {
    font-family: Rubik;
    font-weight: 400;
}

div.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #433D8B;
    box-shadow: 0px 5px #221235;
    z-index: 1;
    width: 100vw;
    max-height: 60px;
}
        @media only screen and (max-width: 768px){
            /* For mobile phones: */
            [class*="topo"] {
            width: 100vw;
            }
        }

.item1 { grid-area: menu-esq;}
.item2 { grid-area: titulo;}
.item3 { grid-area: menu-dir;}

div.topo-subdiv {
    display: grid;
    grid-template-areas: 
        'menu-esq titulo menu-dir';
    margin: 1vw;
}

            @media only screen and (min-width: 768px){
                /* For mobile phones: */
                [class*="topo-subdiv"] {
                width: 100vw;
                max-width: 600px;
                }
            }

h1.logo {
    font-family: Bebas Neue;
    font-weight: 600;
    color: #E9C46A;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-shadow: -3px 3px rgba(0,0,0,0.8);
}

div.secao-principal {
    display: flex;
    width: 100vw;
    height: 85vh;
    flex-direction: column;
    align-items: center;
    align-content: space-betweeen;
    justify-items: center;
}

div.corda-container {
    display: flex;
    flex: 1;
    align-items: start;
    justify-content: center;
    object-position: right top;
}

.corda {
    display: flex;
    flex: auto;
    width: 100%;
    margin-bottom: 2vh;
}

        @media only screen and (max-width: 768px){
            /* For mobile phones: */
            .corda {
            height:32vh;
            }
        }

div.popup-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0%;
    pointer-events: none;
}

div.janela {
    position: absolute;
    display: flex;
    flex: 1;
    flex-direction: column;
    top: 12vh;
    z-index: 1;
    background: #433D8B;
    padding: 24px;
    border-radius: 8px;
    opacity: 0%;
    visibility: hidden;
    transition: 0.2s;
    width: 320px;
    /* box-shadow: 0px 0px 80px rgba(1, 11, 25, 0.6); */
}

div.stats {
    top: 180px;
}

div.dica {
    padding-bottom: 30px;
    top: 100px;
}

div.ajuda {
    padding-bottom: 30px;
    top: 100px;
}

            @media only screen and (min-width: 768px){
                /* For mobile phones: */
                div.ajuda {
                width: 400px;
                }
            }



div.winner, div.gameover {
    display: flex;
    flex: 1;
    top: 100px;
    z-index: 0;
    padding: 12px 0px 0px 20px;
    transition: 0.1s;
    box-shadow: 0px 0px 100px rgba(0,0,0,0.7);
}

div.gameover {
    background: #732C4D;
}

div.winner {
    background: #2C967C;
}

div.janela-title {
    font-family: Bebas;
    margin-bottom: 8px;
    font-family: Oswald;
}

div.janela-body {
    font-size: 17px;
    font-weight: 200;
}

p.dica-text-body {
    font-size: 20px;
    color: white;
    background: transparent;
    margin-top: 12px;
    width: 15vw;
    pointer-events: none;
}

p.title, p.title-stats{     
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 45px;
    text-shadow: -3px 3px rgba(0,0,0,0.3);
}

p.title-stats{
    text-align: left;
}

p.title-winner-lose {
    font-size: 30px;
}

p.placar-label {
    margin-top: 10px;
    font-size: 16px;
}

            @media only screen and (min-width: 1200px){ 
                /* For big screen */
                p.placar-label{
                    font-size: 16px;
                }
            }

p.ajuda-buttons-label {
    font-size: 18px;
    font-weight: 400;
    margin-left: 2vw;
}

button {
    background: #C8ACD6;
    color: #17153B;
    font-weight: bold;
    margin: 0.15rem;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: 0.1s;
 }

button.close-button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    top: -2px;
    right: -2px;
    background: #C8ACD6;
    color: #17153B;
    font-weight: 800;
    border-radius: 0px 8px 0px 20px;
    z-index: 1;
}

button.btn-gameover {
    background: #F5B7D1;
}

button.btn-winner {
    background: #88E3CC;
}

button:hover {
    background: #DDDDDD;
 }

button.helpers, button.placeholder {
    width: 35px;
    max-width: 40px;
    font-size: 0.8rem;
    margin: 2px;
 }

button.placeholder {
    visibility: hidden;
 }

button.keyboard, button.keyboard-disabled, button.keyboard-enter, button.placar {
    display: flex;
    flex: 1;
    font-size: 1.3rem;
    aspect-ratio: 1/1.7;
    max-width: 40px;
    max-height: 60px;
    padding: 1%;
}

button.keyboard-disabled {
    opacity: 30%;
    cursor: not-allowed;
    pointer-events: none;
}

button.placar {
    font-size: 38px;
    padding: 30px;
    width: 15vw;
    pointer-events: none
}



div.keyboard-div {
    display: flex;
    width: 100vw;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
 }

            @media only screen and (min-width: 1200px) {
                /* For mobile phones: */
                [class*="keyboard-div"] {
                width: 100%;
                }
            }

div.kb_linha, div.kb_linha2,div.kb_linha3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


div.kb_linha2 {
    margin-left: 7%;
    margin-right: 7%;
}
div.kb_linha3 {
    margin-left: 15%;
    margin-right: 15%;
}


div.tentativas {
    display: flex;
    flex-direction: column;
}

div.tentativas-box {
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    margin-top: 0vh;
    items-gap: 1px;
    justify-content: center;
}

div.banco, div.banco-erro {
    display: flex;
    flex: 1;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    background: #454465;
    width: 10vw;
    height: 10vw;
    max-width: 50px;
    max-height: 50px;
    margin: 2px;
    padding: 20px;
    border-radius: 4px;
    transform: rotateY(180deg);
    transition: 0.3s;
    z-index: -1;

}

div.banco-erro {
    background: #753050;
    transform: rotateY(0deg);
    text-shadow: -1.5px 1.5px rgba(0,0,0,0.9);

}

div.letras-div {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    gap: 0.3rem;
    padding: 12px 20px 0 20px;
    width: 100vw;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-content: center;
    z-index: -2;
}

p1.letra-input, p1.letra-correct, p1.letra-incorrect, p1.letra-hidden, p1.letra-not-guessed {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 40px;
    aspect-ratio: 1/1.2;
    max-width: 50px; 
    background: #AB74BB;
    border-radius: 4px;
    transform: rotateY(180deg);
    transition: 0.3s;

 }

p1.letra-correct {
    background: #36BA98; 
    transform: rotateY(0deg);
    font-weight: bold;
    text-shadow: -2px 2px rgba(0,0,0,0.5);
 }

p1.letra-incorrect {
    background: #753050; 
    transform: rotateY(0deg);
    font-weight: bold;
    text-shadow: -2px 2px rgba(0,0,0,0.5);
 }

p1.letra-not-guessed {
    background: #753050; 
    transform: rotateY(0deg);
    font-weight: bold;
    text-shadow: -2px 2px rgba(0,0,0,0.5);
 }

p1.blank {
    max-width: 20px;
}

p1.letra-hidden {
    color: transparent;
    user-select: none;
}


div.teclado-componente {
    display: flex;
}
